.invalid{
    color: red;
    border: 1px solid red;
}
.hint-text{
    color: red;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  form h4 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
  }
  
  form div {
    margin-bottom: 20px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .hint-text {
    color: #d9534f;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  // button {
  //   padding: 10px 15px;
  //   font-size: 1em;
  //   border: none;
  //   border-radius: 5px;
  //   cursor: pointer;
  // }
  
  // button[type="submit"] {
  //   background-color: #007bff;
  //   color: #fff;
  // }
  
  // button[type="submit"]:hover {
  //   background-color: #0056b3;
  // }
  // button[type="submit"]:disabled {
  //   background-color: #858585;
  //   color: #fff;
  //   cursor: not-allowed;
  // }
  
  // button[type="button"] {
  //   background-color: #ddd;
  //   color: #fff;
  // }
  
  // button[type="button"]:hover {
  //   background-color: #5a6268;
  // }
  