<div class="list-group">
    <a [routerLink]="'/output-function'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action" aria-current="true">
      Output Function Example
    </a>
    <a [routerLink]="'/hooks'" [routerLinkActive]="'active'" class="list-group-item list-group-item-action" aria-current="true">
      Life Cycle Hooks
      <div class="list-group child-list">
         
          <!-- <a [routerLink]="'/hooks'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            ngOnInit
          </a>
          <a [routerLink]="'hooks/on-changes'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            ngOnChanges
          </a>

          <a [routerLink]="'hooks/on-destroy'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'" class="list-group-item list-group-item-action">
            ngOnDestroy
          </a>

          <a [routerLink]="'hooks/on-do-check'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">
            ngOnDoCheck
          </a>

          <a [routerLink]="'hooks/on-do-check'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">
            ngAfterViewInit
          </a>

          <a [routerLink]="'hooks/on-do-check'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">
            ngAfterContentInit
          </a>

          <a [routerLink]="'hooks/on-do-check'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">
            ngAfterViewChecked
          </a>

          <a [routerLink]="'hooks/on-do-check'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">
            ngAfterContentChecked
          </a>

          <a [routerLink]="'hooks/on-do-check'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">
            afterRender
          </a>

          <a [routerLink]="'hooks/on-do-check'" onclick="JavaScript:event.stopPropagation();" [routerLinkActive]="'active'"  class="list-group-item list-group-item-action">
            afterNextRender
          </a> -->
        
      </div>
    </a>
</div>