/* You can add global styles to this file, and also import other style files */
.list-group{
    &.child-list{
        margin-top: 1rem;
        a{
            background-color: skyblue;
        }
        a.active{
            background-color: tomato;
        }
    }
}

