@if (isLoaded) {
  <h1 class="mx-auto size-24">Loding...</h1>
}
<ul class="product-container">
    @for (item of allProducts; track $index) {
        <li>
          <a [routerLink]="'/product-detail/'+item.id" class="card">
            <h6>{{item.title}}</h6>
            <img [src]="item.image"  alt="..." class="card-img-top">
            <div class="card-body">
              <p class="card-text">
                {{item.description}}
              </p>
              <div class="price">
                {{item.price | currency:"Rs."}}
              </div>
            </div>
          </a>
        </li>
    }
</ul>
